/* DECKS PAGE */



.controlls-container {
    background-color: rgb(245, 237, 237);
    padding: 1rem;
}

.fa-edit {
    cursor: pointer;
}

.deck-container, .card-container {
    background-color: rgb(245, 237, 237);
    height: 40vh;
    border-radius: 5%;
    cursor: pointer;
}

.fa-minus-circle {
    font-size: 25px;
    padding: 2px;
    color: #be0d13;
    position: absolute;
    top: -10px;
    right: -15px;
    z-index: 100;
}

.add-deck-container, .add-card-container {
    background-color: white;
    border: 1px solid lightblue;
    height: 40vh;
    width: 40vw;
    border-radius: 5%;
}

.add-deck-container > i, .add-card-container > i {
    color: lightblue;
}

.add-deck-input, .add-card-input {
    border: none;
    background-color: lightblue;
}

.add-deck-input:focus, .update-deck-input:focus, .add-card-input:focus, .update-card-input:focus {
    text-decoration: none;
}

.update-deck-input, .update-card-input {
    border: none;
    background-color: #fff;
}

.decks-title {
    font-weight: bolder;
    color: rgb(245, 237, 237);
}


/* PLAY */
.flip-card {
    perspective: 1000px;
    margin-top: 5.5rem;
}

.flip-card-inner {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-inner-active {
    transform: rotateY(180deg);
}

.flip-card-front-learn, .flip-card-back-learn {
    background-color: rgb(245, 237, 237);
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 50px;
    padding: 2rem 2rem;
    min-height: 60vh;
    width: 80%;
}

.flip-card-back-learn {
    transform: rotateY(180deg);
    background-color: rgb(176, 206, 223);
    border: 5px solid lightblue;
}

.controllers {
    position: relative;
    top: 65vh;
}

.learning-container {
    background-color: #232121;
    width: 100vw;
    height: 100vh;
}

.question-text {
    font-weight: bolder;
    font-size: 25px;
}

.answer-text {
    font-size: 20px;
    font-family: monospace;
}


@media (min-width: 1000px) {
    .deck-container, .card-container {
        height: 80vh;
    }
    .add-card-container, .add-deck-container {
        height: 80vh;
    }
    .fa-minus-circle {
        font-size: 40px;
        top: -15px;
        right: -15px;
    }
    .question-text {
        font-size: 30px;
    }
    .answer-text {
        font-size: 25px;
    }
}